ul#periodes{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul#periodes li{
  display: list-item;
}

button{
  margin: 5px;
  padding: 5px;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.gap-2{
  gap: 2rem;
} 
