<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Pointeuse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body hx-ext="sse" sse-connect="/stream">
    <h1>Pointeuse</h1>

    <div id="pointeuse">
      <p>Pointeuse</p>
      <button hx-post="/toggle" hx-swap="innerHTML" hx-target="#state">
        Toggle
      </button>
      <button hx-delete="/dropDb" hx-swap="none">Drop DB</button>
      <div id="state" hx-get="/getStatus" hx-trigger="sse:newdata, load"></div>
    </div>
    <div id="dayTotal">
      <h2>Total Jour</h2>
      <div
        id="dayTotalValue"
        hx-get="/getDayTotal"
        hx-trigger="htmx:beforeRequest from:#state"
      ></div>
    </div>

    <div>
      <h2>Periodes</h2>
      <ul
        id="periodes"
        hx-get="/getPeriodes"
        hx-swap="innerHTML"
        hx-trigger="htmx:beforeRequest from:#state"
        hx-target="#periodes"
      ></ul>
    </div>

    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>
