{% block periodes %}
<div id="periodes"
    hx-swap-oob="true">

  {% for pds in periodesbd %} 
    <hr/>

    {% if pds|length >0 %}
      <p>{{datetime.fromtimestamp(pds[0].timestamp_in).strftime('%A %d') }}</p>
    {% endif %}

    {% for periode in pds %}
    {% endfor %}
        <div class="period_bar" >
          <div class="bars">
            {% for per in pds %}
            <div 
              id="periode_{{per.timestamp_in}}"
              class="el" 
              style="
              width:{{(per.getTodaySeconds(per.timestamp_out)-per.getTodaySeconds(per.timestamp_in))*100/(24*60*60)}}%;
              left:{{per.getTodaySeconds(per.timestamp_in)/(24*60*60)*100}}%;
              "
              x-data="{
                open: false,
                menuRight: $refs.menu.getBoundingClientRect().right
              }"
              @mouseenter="open=true"
              x-effect="
                if(open){
                  if(menuRight>window.innerWidth){
                      $refs.menu.style.right = '0'
                      $refs.menu.style.left = 'auto'
                  }
                }
              "
              @mouseleave="open=false"

            >
              <div 
                class="menu" 
                x-show="open"
                x-ref="menu"
                x-cloak
              >
                
                <div class="buttons">
                  <button 
                    id="delete"
                    hx-delete="/periode?id={{per.id}}"
                    hx-target="#periode_{{per.timestamp_in}}"
                    hx-swap="outerHTML"
                    hx-confirm="Voulez-vous vraiment supprimer cette periode ?"
                  >Del</button>
                  <a href="/editperiode?id={{per.id}}">Edit</a>
                </div>
              <div class="data" >
                  id:{{per.id}} - {{per.getStartTimeStr()}} - {{per.getEndTimeStr()}} : {{per.getDuration()}}
                </div>

              </div>
            </div>
            {% endfor %}
          </div>
          <div class="labels">
            <div class="label" style=" left:0%; ">0h</div>
            <div class="label" style=" left:33.33%; ">8h</div>
            <div class="label" style=" left:50%; ">12h</div>
            <div class="label" style=" left:75%; ">18h</div>
            <div class="label" style=" right:0%; ">24h</div>
          </div>
        </div>
  {% endfor %}



</div>
{% endblock %}
