{% block periodes %}
<ul id="periodes"
    hx-swap-oob="true">

  {% for pds in periodesbd %} 
    <hr/>

    {% if pds|length >0 %}
      <p>{{datetime.fromtimestamp(pds[0].timestamp_in).strftime('%A %d') }}</p>
    {% endif %}

    {% for periode in pds %}
      <li id="periode_{{periode.id}}">
        <button 
          id="delete"
          hx-delete="/periode?id={{periode.id}}"
          hx-target="#periode_{{periode.id}}"
          hx-swap="outerHTML"
          hx-confirm="Voulez-vous vraiment supprimer cette periode ?"
        >Del</button>
        <a href="/editperiode?id={{periode.id}}">Edit</a>
        id:{{periode.id}} - {{periode.getStartTimeStr()}} - {{periode.getEndTimeStr()}} : {{periode.getDuration()}}
      </li>
    {% endfor %}
        <div class="period_bar" >
          <div class="bars">
            {% for per in pds %}
            <div class="el" style="
              width:{{(per.getTodaySeconds(per.timestamp_out)-per.getTodaySeconds(per.timestamp_in))*100/(24*60*60)}}%;
              left:{{per.getTodaySeconds(per.timestamp_in)/(24*60*60)*100}}%;
              ">
            </div>
            {% endfor %}
          </div>
          <div class="labels">
            <div class="label" style=" left:0%; ">0h</div>
            <div class="label" style=" left:33.33%; ">8h</div>
            <div class="label" style=" left:50%; ">12h</div>
            <div class="label" style=" left:75%; ">18h</div>
            <div class="label" style=" right:0%; ">24h</div>
          </div>
        </div>
  {% endfor %}


  <p>AllPeriodes</p>
  {% for periode in periodes %}
  <li>id:{{periode.id}} - {{periode.getStartTimeStr()}} - {{periode.getEndTimeStr()}} : {{periode.getDuration()}}</li>
  {% endfor %}

</ul>
{% endblock %}
